/Ex8_PyNNDemo/pythonScripts/pynn0.7pip.sh
/Ex8_PyNNDemo/pythonScripts/pynn0.7.sh

/Ex4_HHcell/generatedNeuroML2/runsim.sh
/Ex8_PyNNDemo/pythonScripts/cleanpynn.sh
/Ex8_PyNNDemo/generatedNeuroML2/runsim.sh
*~
generatedNEURON
generatedNeuroML
generatedGENESIS
generatedMOOSE
generatedPSICS
generatedPyNN
simulations
*$py.class
*.pyc
*.bak
umac
x86_64
i386

/Ex8_PyNNDemo/pythonScripts/Results/*.h5
/Ex8_PyNNDemo/pythonScripts/Results/*.v

/Ex10_NeuroML2/generatedNeuroMLA
Ex10_NeuroML2/generatedNeuroML2/

